<!-- Contenitore principale del calcolatore dell'età -->
<div class="calculator-container">
  <!-- Titolo principale -->
  <h1>Age Calculator</h1>

  <!--Il form contiene il campo della data di nascita e il pulsante che avvia il calcolo dell'età.-->
  <form (submit)="calculateAge($event)">
    <!-- Etichetta del campo data -->
    <label for="birthDate"> Enter your birth date: </label>

    <!-- Contenitore del campo data e dell'icona. Serve per posizionare l'icona dentro la barra.-->
    <div class="date-input">
      <!-- appDatepicker applica la nostra direttiva all'input. #birthPicker permette di utilizzare la direttiva anche dal pulsante con l'icona.
      dateSelected riceve dalla direttiva la data scelta e la passa al metodo selectBirthDate().-->
      <input
        appDatepicker
        #birthPicker="appDatepicker"
        id="birthDate"
        type="text"
        placeholder="Select your birth date"
        readonly
        (dateSelected)="selectBirthDate($event)"
      />

      <button
        type="button"
        class="calendar-icon"
        (click)="birthPicker.toggleCalendar($event)"
        aria-label="Open calendar"
      >
        📅
      </button>
    </div>

    <!-- Pulsante che invia il form e avvia il calcolo -->
    <button type="submit" class="calculate-button">Calculate</button>
  </form>

  <!-- Mostro il messaggio di errore solo se esiste.-->
  @if (errorMessage()) {
    <p class="error">{{ errorMessage() }}</p>
  }

  <!-- Il risultato viene mostrato solamente dopo che l'utente ha effettuato il calcolo.-->
  @if (result()) {
    <p class="result">{{ result() }}</p>
  }
</div>
